# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
# files used for preparing documents with bibliography
**/unlinked*

# Notebook Checkpoints
.ipynb_checkpoints/
#DS_Store
*.DS_Store
**/*.DS_Store

.vscode/
## history
**/.history

## ignore logs
*.log
##
## ignore .env files
*.env

## ignore yaml files in recipe directory
recipes/*.yaml

## ignore unzipped csv files
data/*.csv


